<a href="https://colab.research.google.com/github/Akshita0me/PYTHON/blob/main/Basic_of_python_(_10_11_july_2025_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Today topic is TUPLE (10 JULY)
t = ()
type(t)
#other
#t = (10)
#type(10)

tuple

In [2]:
# we can convert the truple INTO LIST
l = [11,22,33,44]
t = tuple(l)
type(l)

list

In [3]:
t = (10 , 20 , 30 , 40)
print(t)
print(t[0::]) # Corrected line to slice the tuple t
t=t+(1,2,3,4)
print(t)
print(t[0::])# Corrected line to slice the tuple t

(10, 20, 30, 40)
(10, 20, 30, 40)
(10, 20, 30, 40, 1, 2, 3, 4)
(10, 20, 30, 40, 1, 2, 3, 4)

In [4]:
a = 1
b = 2
c = 3
t = a,b,c
t
type(t)
t = (10 , 20 , 30 )
a,b, c = t
print(a) # Corrected line to print the value of a
print(b) # Corrected line to print the value of b
print(c) # Corrected line to print the value of c
type(a)

10
20
30

int

In [5]:
a = 1 , 2 , 3
b = 1 , 2 , 3
a=b #isme yeh value assin kare ga b ki value ko a se)
a==b #isme yeh value ko compare kre ga
# other condition
#c = 1 , 2 , 4
#a==c
#a<c
#a>b
#A = B (SYANTAX ERROR)

True

In [6]:
# USER INPUT for TUPLES
tuple()
n = input()

akshita

In [7]:
# input tuple m string li value dega // eval() in tuple
a = tuple(input("Enter your name: "))
print(a)

Enter your name: akshita
('a', 'k', 's', 'h', 'i', 't', 'a')

In [8]:
#sum dega tuple k
t = (10 , 20 , 30, 40 , 50, 60, 70, 80, 90, 20)
sum(t)

470

In [9]:
#maximum value
a = (101, 209 , 302 , 403 , 505 , 460 , 750 , 800 , 940 , 100)
max(a)

940

In [10]:
#minimun value
a = (101, 209 , 302 , 403 , 505 , 460 , 750 , 800 , 940 , 100)
min(a)

100

In [11]:
#lenght bta ta h tuple ki
t = (1, 2, 3, 5, 6, 7,8,9,10)
len(t)

9

In [12]:
# donoko compare karke max value dega
A = [100,500,1000,]
B = [600,700,300]
max(A+B)

1000

In [13]:
#index position bta ta h
a = (1,2,1,3,1,4,1,5,6,7)
a.index(4)

5

In [14]:
#Today topic is SETS OF PYTHON(11 JULY)


#python program to demonstrate difference
normal_set = set({"a", "b", "c"})
print("normal_set")
print(normal_set)

normal_set
{'c', 'a', 'b'}

In [15]:
#  A frozen set
frozen_set = frozenset({"e", "f", "g"})
print("frozen_set")
print(frozen_set)

frozen_set
frozenset({'e', 'f', 'g'})

In [16]:
#creating a set
people = {"Akshita","Lakshita","Radhika"}
print("People", end = " ")
print(people)

#this will add name into a program
people.add("Anmol")
print(people)

People {'Lakshita', 'Akshita', 'Radhika'}
{'Anmol', 'Lakshita', 'Akshita', 'Radhika'}

In [17]:
#fuction of union (yeh data ko collet karke deta h)

insan = {"akshita","radhika","hardik"}
janwar = {"lakshita","anmol","shamit"}
bicholiya = {"bhavya","dhruv","khushi"}
population1 = insan.union(bicholiya)
print(population1)
population2 = insan.union(janwar)
print(population2)

{'bhavya', 'dhruv', 'akshita', 'hardik', 'radhika', 'khushi'}
{'anmol', 'akshita', 'hardik', 'radhika', 'shamit', 'lakshita'}

In [18]:
#fuction of intersection
set1 = set()
set2 = set()

for i in range(5):
  set1.add(i)
for i in range(3,5):
  set2.add(i)
set3 = set1.intersection(set2)
print("intersection using intersection function")
print(set3)

#"&" operation
#set3 = set1 & set2
#print("intersection using & function")

intersection using intersection function
{3, 4}

In [ ]:
#picnic bag ( usning list , tuple , set )

#List – changeable
picnic_list = ["sandwich", "juice", "chips", "fruit"]
print("Picnic List:", picnic_list)

#Tuple – Fixed
picnic_tuple = ("cash money", "blanket", "sunscreen")
print("Picnic Tuple:", picnic_tuple)
print("Updated Picnic Tuple:", picnic_tuple)
# Set –unordered
picnic_set = {"tiger", "firework", "waterfall", "lion"}
print("Picnic Set:", picnic_set)


#Final summary
print("\n--- Picnic Bag Summary ---")
print("food item:", picnic_list)
print("important item:", picnic_tuple)
print("thing we saw (Set):", picnic_set)

Picnic List: ['sandwich', 'juice', 'chips', 'fruit']
Picnic Tuple: ('cash money', 'blanket', 'sunscreen')
Picnic Set: {'waterfall', 'lion', 'tiger', 'firework'}

--- Picnic Bag Summary ---
food item: ['sandwich', 'juice', 'chips', 'fruit']
important item: ('cash money', 'blanket', 'sunscreen')
thing we saw (Set): {'waterfall', 'lion', 'tiger', 'firework'}

In [ ]:
#using function diffence
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}

s3 = {6,100,200,300,400}

s4 = {600,700,800,900,300}

diff1 = s1-s2
diff2 = s4-s3
print(diff1)
print(diff2)

{3, 45, 6}
{800, 900, 600, 700}