<a href="https://colab.research.google.com/github/Akshita0me/PYTHON/blob/main/Basic_of_Python(11_12_july_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#fuction of intersection
set1 = set()
set2 = set()

for i in range(5):
  set1.add(i)
for i in range(3,5):
  set2.add(i)
set3 = set1.intersection(set2)
print("intersection using intersection function")
print(set3)

#"&" operation
#set3 = set1 & set2
#print("intersection using & function")

intersection using intersection function
{3, 4}

In [ ]:
#fuction of union (yeh data ko collet karke deta h)

insan = {"akshita","radhika","hardik"}
janwar = {"lakshita","anmol","shamit"}
bicholiya = {"bhavya","dhruv","khushi"}
population1 = insan.union(bicholiya)
print(population1)
population2 = insan.union(janwar)
print(population2)

{'dhruv', 'radhika', 'bhavya', 'hardik', 'akshita', 'khushi'}
{'radhika', 'hardik', 'shamit', 'akshita', 'anmol', 'lakshita'}

In [ ]:
#creating a set
people = {"Akshita","Lakshita","Radhika"}
print("People", end = " ")
print(people)

#this will add name into a program
people.add("Anmol")
print(people)

People {'Lakshita', 'Akshita', 'Radhika'}
{'Lakshita', 'Akshita', 'Radhika', 'Anmol'}

In [ ]:
#using function diffence
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}

s3 = {6,100,200,300,400}

s4 = {600,700,800,900,300}

diff1 = s1-s2
diff2 = s4-s3
print(diff1)
print(diff2)

{3, 45, 6}
{800, 900, 600, 700}

In [ ]:
#picnic bag ( usning list , tuple , set )

#List – changeable
picnic_list = ["sandwich", "juice", "chips", "fruit"]
print("Picnic List:", picnic_list)

#Tuple – Fixed
picnic_tuple = ("cash money", "blanket", "sunscreen")
print("Picnic Tuple:", picnic_tuple)
print("Updated Picnic Tuple:", picnic_tuple)
# Set –unordered
picnic_set = {"tiger", "firework", "waterfall", "lion"}
print("Picnic Set:", picnic_set)


#Final summary
print("\n--- Picnic Bag Summary ---")
print("food item:", picnic_list)
print("important item:", picnic_tuple)
print("thing we saw (Set):", picnic_set)

Picnic List: ['sandwich', 'juice', 'chips', 'fruit']
Picnic Tuple: ('cash money', 'blanket', 'sunscreen')
Picnic Set: {'waterfall', 'lion', 'tiger', 'firework'}

--- Picnic Bag Summary ---
food item: ['sandwich', 'juice', 'chips', 'fruit']
important item: ('cash money', 'blanket', 'sunscreen')
thing we saw (Set): {'waterfall', 'lion', 'tiger', 'firework'}

In [ ]:
#12 july
#dictionary
student = {
    "name":"akshita",
    "age":"20",
    "branch":"computer science",
    "college":"anand internation college of enginnering"
}
print(student)

{'name': 'akshita', 'age': '20', 'branch': 'computer science', 'college': 'anand internation college of enginnering'}

In [ ]:
#access a value
print(student["name"])
student["college"] = "anand internation college of enginnering"
student["marks"]= 95
#del student["branch"]
if "age" in student:
  print("age is" , student["age"])
for key , value in student.items():
  print(key, ":" , value)

akshita
age is 20
name : akshita
age : 20
college : anand internation college of enginnering
marks : 95

In [ ]:
cart = {
    "apple":3,
    "banana":2,
    "orange":1
}
#add 1 more banana
cart["banana"] += 1
#print updated cart
for item , quantity in cart.items():
  print(f"{item}:{quantity}")

apple:3
banana:3
orange:1

In [ ]:
#python functions
def lakshita_pagal_ha():
  print("lakshita_pagal_ha")
lakshita_pagal_ha()

lakshita_pagal_ha

In [ ]:
#defining the function
def func (name):
  print("Hi" , name)
#calling a function
func("Akshita")

Hi Akshita

In [ ]:
def sum (a,b):
  return a+b;
a = int(input("Enter a :"))
b = int(input("Enter b :"))
print("Sum = " , sum(a,b))

Enter a :34
Enter b :98
Sum =  132

In [ ]:
#the argument name is the requried
def func(name):
  message = "Hi" + name ;
  return message;
name = input("Enter your name :")
print(func(name))

Enter your name :akshita
Hiakshita

In [ ]:
#the function simple_interest
def simple_interest(p,t,r):
  return(p*t*r)/100

p = float(input("Enter the principal amount :"))
t = float(input("Enter the time period :"))
r = float(input("Enter the rate of interest :"))

interest = simple_interest(p, t, r)
print("Simple Interest:", interest)

Enter the principal amount :2333
Enter the time period :2
Enter the rate of interest :30
Simple Interest: 1399.8

In [ ]:
#function func id called with name and message
def func(name,message):
  print("printing the message with", name, "and", message)

#call the function after defining it
func(name = "akshita", message = "heyy")

printing the message with akshita and heyy

In [ ]:
def simple_interest(p,t,r):
  return(p*t*r)/100

print("Simple Interest:", simple_interest(t=11,r=33,p=2000))

Simple Interest: 7260.0

In [ ]:
def func(name1, message, name2):
  print("Printing the message with", name1, ",", message, "and", name2)

# Call the function after defining it
func(name1 = "akshita", message="hello", name2="lakshita")

Printing the message with akshita , hello and lakshita

In [ ]:
def printme(name,age=20):
  print("My name is", name, "and age is", age)
printme(name = "akshita")

My name is akshita and age is 20

In [ ]:
def printme(names):
  print("type of passes argument is",type(names))
  print("printing the passes argument..")
  for name in names:
    print(name)
printme(["akshita","lakshita","radhika"])

type of passes argument is <class 'list'>
printing the passes argument..
akshita
lakshita
radhika

In [ ]:
def print_message();
message =