<a href="https://colab.research.google.com/github/Akshita0me/PYTHON/blob/main/Basics_of_python(08_09_july_2025_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to print a leap year
year = int(input("Enter a year"))
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(year, "is a leap year")
    else:
      print(year, "is not a leap year")
  else:
    print(year,"is a leap year")
else:
  print(year, "is not a leap year")

Enter a year5020
5020 is a leap year

In [ ]:
#program to print sum of natural numbers
n = int(input("Enter a number"))
total_sum = n * (n + 1) // 2
print(total_sum)

Enter a number5
15

In [ ]:
#program of range function
y = range(0,9,2)
for x in y:
  print(x)

0
2
4
6
8

~range() snapshot in python

-it generates sequence

-range start from 0

**note**: Syntax range(start,stop,step)

In [ ]:
x= range(10) #agar sirf ek likha uska matlab stop hai aur by default iska start will be 0
for i in x:
  print(i)

0
1
2
3
4
5
6
7
8
9

TRANSFER STATEMENT

While else : given a statement  is true condition dalddenge

continue statement : we can stop the current iteration and continue with the next

pass : if condition is true that we can pass.

In [ ]:
import random
x = random.randint(1,10)
print(x)

1

Random: To add functionality randomly which will be added by computer itself.

In [ ]:
l =[]
l.append(10)
l.append(20)
l.append(30)
print(l)

[10, 20, 30]

-Lists, example of creating lists, insert functions facts, multiple list facts.

~ Lists: lists are very similiar to arrays but in python teh values can be expandable which gives us enormous advantage to it whie this is also possible in dynamuc arrays in c with explicit coding

- we can store hetrogenous values

- they can contaion any type of variable

~ Syntax:
i=[] //empty list

i=[10,20,30] // list of three values at time of creation

- we generally use append function in order to approve values in the list

- we can print in many ways.

In [ ]:
l=[]
l.append(10)
l.append(20)
l.append(30)
print(l[0] , l[1] , l[2])
for x in l:
  print(x)

10 20 30
10
20
30

In [ ]:
l2= [10,20,30,40,50]
print(l2)

[10, 20, 30, 40, 50]

Lists can be empty collection of integer values ,collect of strings, collection of hetro genous values

- indexing of list starts from 0 just like in c

In [ ]:
a=[]
a.append(10)
a.append(20)
a.append(30)
print(a)
a.insert(2,30)
print(a)
a.insert(1,40)
print(a)
a.insert(-1,10)
print(a)

[10, 20, 30]
[10, 20, 30, 30]
[10, 40, 20, 30, 30]
[10, 40, 20, 30, 10, 30]

Difference between append and index:

Feature           
 - append()             	  
 - index()

Action
- Adds item to end of list	  
-  Finds position of item

Return value	      
- None	                  
- Index (int)

Error raised        
-	None	                
- ValueError if item not found

Example	        
 -  list.append(4)	         
 - list.index(4)



Multiple lists facts in python:

- we can us e+ operator in 2 lists taht will append the data

- if we try to add scalar value to list, then it will give a error

- we can show the adding of scalar value taht actually not append list

- we can also use compound assignment operator to show or add scalar value in list

In [ ]:
A = [1,2,3]
B = [4,5,6]
C = A+B
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
A = [1,2,3]
B = [4,5,6]
A += [10]
print(A)

[1, 2, 3, 10]

In [ ]:
D=[10,20]
D*3
print(D)
D*=3
print(D)

[10, 20]
[10, 20, 10, 20, 10, 20]

In [ ]:
d= [10,20]
d*=3
print(d)
d.remove(20)
print(d)

[10, 20, 10, 20, 10, 20]
[10, 10, 20, 10, 20]

- How to edit value in list :

example: mylist=[10,20,30]

mylist[0]=100// oth index is there

output :[100,20,30]

- HOw to remove value inlist

mylist.remove(20)

mylist

output:[10,20]

if we try to remove something that is not in the list then it will give error.

In [ ]:
# sort
mylist=[30,10,50,80]
mylist.sort()
print(mylist)

[10, 30, 50, 80]

sort will sort out the values in increasing order

In [ ]:
mylist=[30,10,50,80]
mylist.clear()
print(mylist)

[]

In [ ]:
mylist=[30,10,50,80]
mylist.reverse()
print(mylist)

[80, 50, 10, 30]

In [ ]:
mylist=[30,10,50,80]
mylist.pop()
print(mylist)

[30, 10, 50]

pop() : extracting the values from the list

- if no argument is given then it willl extract the last one

**Remove** just removes the value but **Pop** will return some values.

In [ ]:
mylist=[10,20,30,40,50]
print(mylist)
x = mylist.pop(0)
print(x)

[10, 20, 30, 40, 50]
10

In [ ]:
a=[10,20,30]
a.index(30)

2

index is used to find out the index of particular value,

In [ ]:
a=[10,20,10,20,30,10]
a.index(10,1,6)

2

In [ ]:
#fruitbasket with help of (append,remove,insert,pop)
fruitbasket=[]
fruitbasket.append("strawberry")
fruitbasket.append("pineapple")
fruitbasket.append("pear")    #append
print(fruitbasket)
fruitbasket.insert(1,"pear")
print(fruitbasket)
fruitbasket.remove("pear")
print(fruitbasket)
fruitbasket.pop()
print(fruitbasket)

['strawberry', 'pineapple', 'pear']
['strawberry', 'pear', 'pineapple', 'pear']
['strawberry', 'pineapple', 'pear']
['strawberry', 'pineapple']

Count heLps to finding occurences of values in list.

In [ ]:
# CREATE A REPORT CARD
name = input("Enter student name: ")
roll_number = input("Enter roll number: ")
father_name = input("Enter father name: ")
mother_name = input("Enter mother name: ")
human_value = input("Enter marks in human value")
physics = input("Enter marks in physics")
electrical = input("Enter marks in electrical")
maths = input("Enter marks in maths")
chemistry = input("Enter marks in chemistry")

In [ ]:
# Create an empty list to store report card data
report_card = []

# Taking basic student information
name = input("Enter student name: ")
roll_number = input("Enter roll number: ")
father_name = input("Enter father's name: ")
mother_name = input("Enter mother's name: ")

# Using append to add student info
report_card.append(["Student Name", name])
report_card.append(["Roll Number", roll_number])
report_card.append(["Father's Name", father_name])
report_card.append(["Mother's Name", mother_name])

# Taking marks for subjects
human_value = input("Enter marks in Human Value: ")
physics = input("Enter marks in Physics: ")
electrical = input("Enter marks in Electrical: ")
maths = input("Enter marks in Maths: ")
chemistry = input("Enter marks in Chemistry: ")

# Using append to add marks
report_card.append(["Human Value", human_value])
report_card.append(["Physics", physics])
report_card.append(["Electrical", electrical])
report_card.append(["Maths", maths])
report_card.append(["Chemistry", chemistry])

# Use insert to add total marks at a specific position (example: index 5)
total_marks = int(human_value) + int(physics) + int(electrical) + int(maths) + int(chemistry)
report_card.insert(5, ["Total Marks", total_marks])

# (Optional) Remove a subject if needed
remove_subject = input("Enter subject name to remove from report (or press Enter to skip): ")
if remove_subject:
    for item in report_card:
        if item[0].lower() == remove_subject.lower():
            report_card.remove(item)
            break

# Print the report card in tabular form
print("\n---- Report Card ----")
print("{:<20} {:<10}".format("Field", "Value"))
print("-" * 30)
for field in report_card:
    print("{:<20} {:<10}".format(field[0], field[1]))

Enter student name:  AKSHITA
Enter roll number:  3456
Enter father's name: PRATAP SINGH
Enter mother's name: MANJU
Enter marks in Human Value: 70
Enter marks in Physics: 90
Enter marks in Electrical: 89
Enter marks in Maths: 87
Enter marks in Chemistry: 88
Enter subject name to remove from report (or press Enter to skip):

---- Report Card ----
Field                Value
------------------------------
Student Name          AKSHITA
Roll Number           3456
Father's Name        PRATAP SINGH
Mother's Name        MANJU
Human Value          70
Total Marks          424
Physics              90
Electrical           89
Maths                87
Chemistry            88

In [ ]:
#lakshita akshita  radhika *
import random
c=['lakshita','akshita','radhika']
name=str(input("ENTER YOUR NAME:-"))
random_c = random.choice(c)
x=random_c
score=0
computer=0
n=0
while score<3 and computer<3:
  n+=1
  user=str(input(f"\nChoose:-lakshita or akshita or radhika\n\n{n}:-{name}:-"))
  if user=='lakshita' or user=='akshita' or user=='radhika':
        print("COMPUTER:-",x)
        if user==x:
            score+=1
            print(f"good +1\n\t\t\tcomputer={computer}\n\t\t\t{name}={score}")
            continue
        else :
                computer+=1
                print(f"hahaha\t\t\t\n\t\t\tcomputer={computer}\n\t\t\t{name}={score}")
                continue
  else:
                    print(f"wrong\nCheck your input {name}")
                    print(f"\t\t\t{name}={score}\n")
                    continue
else :
                        print(f"\t\t\tGAME COMPLETED")
                        if computer==3:
                            print(f"\n\t\t\tCOMPUTER WINS")
                        elif score==3:
                                print(f"{name}WINS")
                        else :
                                    print("DRAW")

ENTER YOUR NAME:-anmol

Choose:-lakshita or akshita or radhika

1:-anmol:-a
wrong
Check your input anmol
			anmol=0


Choose:-lakshita or akshita or radhika

2:-anmol:-radika
wrong
Check your input anmol
			anmol=0


Choose:-lakshita or akshita or radhika

3:-anmol:-akshita
COMPUTER:- radhika
hahaha
			computer=1
			anmol=0

Choose:-lakshita or akshita or radhika

4:-anmol:-radhika
COMPUTER:- radhika
good +1
			computer=1
			anmol=1

Choose:-lakshita or akshita or radhika

5:-anmol:-lakshita
COMPUTER:- radhika
hahaha
			computer=2
			anmol=1

Choose:-lakshita or akshita or radhika

6:-anmol:-akshita
COMPUTER:- radhika
hahaha
			computer=3
			anmol=1
			GAME COMPLETED

			COMPUTER WINS

In [ ]:
a='math'
b='chem'
c='phy'
d='bio'
e='MPW'
f='civil'
print("\t\t1\t2\t3\t\t\t4\t5\t6\n\nMonday\t\t{}\t{}\t{}\t\t\t{}\t{}\t{}".format(a,b,c,d,e,f))
print("\n\nTuesday\t\t{}\t{}\t{}\t\tL\t{}\t{}\t{}".format(b,a,d,e,f,c))
print("\n\nWednesday\t{}\t{}\t{}\t\tU\t{}\t{}\t{}".format(c,d,f,e,a,b))
print("\n\nThursday\t{}\t{}\t{}\t\tN\t{}\t{}\t{}".format(f,e,d,a,c,b))
print("\n\nFriday\t\t{}\t{}\t{}\t\tC\t{}\t{}\t{}".format(d,e,f,a,b,c))
print("\n\nSaturday\t{}\t{}\t{}\t\tH\t{}\t{}\t{}".format(c,e,f,d,a,b))

		1	2	3			4	5	6

Monday		math	chem	phy			bio	MPW	civil


Tuesday		chem	math	bio		L	MPW	civil	phy


Wednesday	phy	bio	civil		U	MPW	math	chem


Thursday	civil	MPW	bio		N	math	phy	chem


Friday		bio	MPW	civil		C	math	chem	phy


Saturday	phy	MPW	civil		H	bio	math	chem