<a href="https://colab.research.google.com/github/Akshita0me/PYTHON/blob/main/PY_Training_ipy(7_8_JULY_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LEAP YEAR
year= int(input("Enter a year: "))
if year % 4 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2045
2045 is not a leap year

In [ ]:
#LEAP YEAR (WITH DIFFERENT METHOD)
year= int(input("Enter a year: "))
if year %4 == 0 and year % 100 != 0 or year % 400 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2064
2064 is a leap year

In [ ]:
#LEAF YEAR ( %4 OR %400 )
year = int(input("Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2034
2034 is not a leap year

In [ ]:
# USING RANGE ( START)
for x in range(5): # RANGE START FROM 0 IF STOP IS NOT DEFINE
  print(x)

0
1
2
3
4

In [ ]:
#RANGE USING (START, STOP)
for x in range(5,10):
    print(x)

5
6
7
8
9

In [ ]:
# USING RANGE (START, STOP , STEP)
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# SUM OF NATURAL NO. WITH FOR LOOP UPTO 100
sum_of_natural_number = 0
for x in range(1, 101):
  sum_of_natural_number += x
sum_of_natural_number

In [ ]:
#SUM OF NATURAL NO.
n= int(input("Enter your number"))
x=1
sum_of_natural_number= 0
for x in range(1, n+1):
    sum_of_natural_number+=x
print(sum_of_natural_number)

Enter your number3
6

In [ ]:
# MULTIPLICATION TABLE USING ( FOR AND RANGE )
n= int(input("Enter your number"))
for i in range(1,11):
  result = n * i
  print(n, "*", i, "=", result)
print("multiplication of table")

Enter your number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
multiplication of table

In [ ]:
#USNING BREAK
i = 1
while i <= 3:
    x = int(input("Enter an even number: "))
    if x % 2 == 0:
        print("YOU WIN")
        break  # Exit the loop if an even number is entered
    i += 1 # Increment the counter

else: # This else belongs to the while loop, executed if the loop finishes without a break
    print("you lose")

Enter an even number: 2
YOU WIN

In [ ]:
#USING CONTINE
x = 1
while x <= 24:
    if x % 5 == 0:
        x = x + 1
        continue # Skip the rest of the loop body for this iteration and go to the next
    print(x)
    x = x + 1 # Increment x for the next iteration if not divisible by 5

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24

In [ ]:
#GAME USING THE CONTINUE, BREAK , OR PASS
print("Welcome to the castel come")
print("Enter the password")

while True:
  code = int(input("Enter the secret code :"))

  if code <=0:
    print("Invalid input, try again")
    continue

  if code %3 ==0 and code %5 ==0:
     print("Access granted , door is open for you")
     break

  elif code %5 ==0:
    print("You are close")
    print("HINT = code is divisible by 3.")
    pass

  elif code %3 ==0:
    print("You are close")
    print("HINT = code is divisible by 5.")
    pass
  else:
    print("ACCESS DEMIED")

Welcome to the castel come
Enter the password
Enter the secret code :20
You are close
HINT = code is divisible by 3.
Enter the secret code :45
Access granted , door is open for you

In [ ]:
import random
x= range(1,100)
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#USE OF LIST APPENDND FOr ADDING DATA
l=[]
l.append(10)
l.append(20)
l.append(30)
print(l[0] , l[1] , l[2])
for x in l:
  print(x)

10 20 30
10
20
30

In [ ]:
l2=[10,20]
l2

[10, 20]

In [ ]:
# USE OF INSERT DOR CHANGING THE DIGIT ON SECOND PLACE (2,30)
a=[]
a.append(10)
a.append(20)
a
a.insert(2,30)
a

[10, 20, 30]

In [ ]:
#USE OF INSERT ( FOR ADDING THE VALUE IN TABLE)
a=[]
a.append(10)
a.append(20)
print(a)
a.insert(2,30)
print(a)
a.insert(3,40) # Correcting the index for inserting 40
print(a)
a.insert(1,50)
print(a)

[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
[10, 50, 20, 30, 40]

In [ ]:
#MULTIPLE LIST OUTPUT
A=[1,2,3]
B=[4,5,6]
C=A+B
print (C)
A+[10]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 10]

In [ ]:
#MULTIPLE LIST OUTPUT
A=[1,2,3]
B=[4,5,6]
C=A+B
print (C)
A+[10] #
print (A)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
#OUTPUT OF USE OF * IN LIST
D=[10,20]
D*3
print(D)
D*=3 # IT REPEAT THE NUMBER 3 TIME AFTER USING =
print(D)

[10, 20]
[10, 20, 10, 20, 10, 20]

In [ ]:
#HOW TO EDIT THE VALUE IN LIST
Mylist = [10,20,30]
Mylist[0]=100
print(Mylist)

[100, 20, 30]

In [ ]:
#HOW TO REMOVE THE VALUE IN LIST
D= [10,20]
D*=3
print(D)
D.remove(20)
print(D)

[10, 20, 10, 20, 10, 20]
[10, 10, 20, 10, 20]

In [ ]:
#LIST FUNCTIONS:Sort()
#Sort(): sort the value in list
#CLEAR():CLEAR THE VALUE IN LIST
#REVERSE():
#POP():
#POP Vs RETUN()

In [ ]:
mylist =[10,20,30,40]
print(mylist)

[10, 20, 30, 40]

In [ ]:
#INDEX()
A=[10,20,30,40,50]
A.index(30)

In [ ]:
A=[10,20,10,30,40,20,30,10]
A.index(10)
#A.index(10,1)
#A.index(10,1,6)

0